# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/api/.openapi-generator-ignore
src/api/index.ts
src/api/runtime.ts
src/api/.openapi-generator/FILES
src/api/.openapi-generator/VERSION
src/api/apis/index.ts
src/api/apis/PetApi.ts
src/api/apis/StoreApi.ts
src/api/apis/UserApi.ts
src/api/models/Category.ts
src/api/models/index.ts
src/api/models/ModelApiResponse.ts
src/api/models/Order.ts
src/api/models/Pet.ts
src/api/models/Tag.ts
src/api/models/User.ts
