.subtitle-cue:hover, .subtitle-cue.active {
    background-color: aliceblue;
}

.subtitle-cue {
    padding: 8px 16px;
    display: flex;
    align-items: baseline;
    gap: 8px;
}


.subtitle-cue .cue-time {
    color: #555;
    font-size: small;
    background-color: #def1ff;
    color: #065fd4;
    display: inline-block;
    padding: 2px 6px;
    line-height: 1;
    border-radius: 8px;
}

.subtitle-panel {
    height: 300px;
    display: flex;
    flex-direction: column;
}

.subtitle-pb {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 1;
}

.quality-grid, .quality-grid td, .quality-grid th {
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: start;
}